* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    width: 20.7em;
    max-height: 70em;
    display: flex;
    background-color: #a38df3a1;
}

.card-produtos h2 {
    width: 22em;
    height: 3em;
    background-color: #652AAD;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    margin-bottom: 1em;
}

.produtos li {
    display: flex;
}
  
.produtos button {
    flex: 0.2em;
    cursor: pointer;
    background-color: #B5A1FF;
    margin: .5em;
    display: flex;
    align-items: center;
    height: 1.8em;
    border: none;
    margin-bottom: 1.5em;
    box-shadow: 1px 1px 6px #0000001c;
}

.produtos button:hover {
    background-color: #BD8BD1;
    left: .1em;
  }
  
.produtos button:active {
    background-color: #012E40;
}
  
.produtos button.selected {
    background-color: #8336E0;
}
  
.produtos button.selected:hover {
    background-color: #BD8BD1;
}
  
.produtos button.selected:active {
    background-color: black;
}

.produtos .name {
    font-weight: 500;
}

.produtos .badge {
    display: inline-block;
    font-size: small;
    font-weight: 600;
    padding: 0.5em 0.9em;
    background-color: #634DB3;
    line-height: 1em;
    margin-right: .8em;
}